{% extends "layout" %}

{% block content %}
  <h1>Basic CRUD</h1>

  <ul>
  {% for user in users %}
    <li>{{ user.username}} - <a href="/users/{{ user.id }}/edit">edit</a></li>
  {% else %}
    <li>There are no user</li>
  {% endfor %}
  </ul>

{% endblock %}
