{% extends "layout" %}

{% block content %}
  <h1>Basic CRUD</h1>

  <ul>
  {% for id, user in users %}
    <li>
      <strong>{{ user.username}}</strong>
      ({{ user.roles | join(sep=", ") }})
      - <a href="/users/{{ id }}/edit">edit</a></li>
  {% else %}
    <li>There are no user</li>
  {% endfor %}
  </ul>

{% endblock %}
