<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>405 Method Not Allowed</title>
  </head>
  <body align="center">
    <div role="main" align="center">
      <h1>405: Method Not Allowed</h1>
      <p>The request method is not supported for the requested resource.</p>
        <hr />
    </div>
    <div role="contentinfo" align="center">
      <small>Rocket</small>
    </div>
    </body>
</html>
